.component{
  width: fit-content;
  border: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.03);
  margin-right: 1rem;
  margin-bottom: 1rem;
  tr{
    td:nth-child(2){
      text-align: end;
    }
  }
  .control-btn{
    background-repeat: no-repeat;
    margin-left: 0.5rem;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: border-box;
  }
  .edit-btn{
    @extend .control-btn;
    &:hover{
      border: 1px solid orange;
      transition: 0.3s;
    }
    background-image: url("/assets/img/edit.png");
  }
  .remove-btn{
    @extend .control-btn;
    &:hover{
      border: 1px solid lightcoral;
      transition: 0.3s;
    }
    background-image: url("/assets/img/trash.png");
  }
}
