<section>
  <div class="top-form">
    <form [formGroup]="infoForm">
      <div class="form-control-block">
        <span class="form-control-info">Название дня</span>
        <input type="text" formControlName="dayName">
        <small class="text-danger" *ngIf="infoForm.get('dayName').errors?.['required']">Название
          обязательно</small>
      </div>
      <div class="form-control-block">
        <span class="form-control-info">Начало приема</span>
        <input type="time" formControlName="receptionBegin">
        <small class="text-danger" *ngIf="infoForm.get('receptionBegin').invalid">Нужно указать значение</small>
      </div>
    </form>
  </div>

  <div class="view-day">
    <app-view-day [day]="day"></app-view-day>
  </div>

  <div class="middle-form">
    <form [formGroup]="actionsForm">
      <div class="form-control-block">
        <span class="form-control-info">Продолжительность события</span>
        <input type="time" formControlName="duration" value="00:00">
        <small class="text-danger" *ngIf="actionsForm.get('duration').invalid">Значение должно быть не менее
          минуты</small>
      </div>
      <div class="form-control-block" *ngIf="radioValue === 'reception'">
        <span class="form-control-info">Количество</span>
        <input type="number" formControlName="count">
        <small class="text-danger" *ngIf="actionsForm.get('count').invalid">Нужно указать целое число более
          0</small>
      </div>
      <div class="form-control-block">
        <span class="form-control-info">Тип записи</span>
        <label>
          <input class="radio-marker" type="radio" name="record-type" value="reception"
                 id="radio-record-type-reception"
                 (click)="changeType('reception')"
                 [checked]="radioValue === 'reception'">
          <span class="radio-span">Прием</span>
        </label>
        <label>
          <input class="radio-marker" type="radio" name="record-type" value="rest" id="radio-record-type-rest"
                 (click)="changeType('rest')"
                 [checked]="radioValue === 'rest'">
          <span class="radio-span">Отдых</span>
        </label>
      </div>
    </form>
    <div class="form-control-block">
      <button class="btn btn-outline-primary" (click)="addRecords()"
              [disabled]="actionsForm.invalid || !canAddRecords()">Добавить событие
      </button>
    </div>
  </div>

  <div class="bottom-form">
    <div class="form-control-block">
      <span class="form-control-info">Завершение всех событий</span>
      <span [class.text-danger]="findEndTime().length > 5">{{findEndTime()}}</span>
    </div>
    <div class="form-control-block">
      <button class="btn btn-primary me-3" *ngIf="!isOverrideMode" [disabled]="infoForm.invalid" (click)="saveDay()">Сохранить шаблон</button>
      <button class="btn btn-warning me-3" *ngIf="isOverrideMode" [disabled]="infoForm.invalid" (click)="overrideDay()">Обновить шаблон</button>
      <button class="btn btn-danger" (click)="clear()">Очистить</button>
    </div>
  </div>
  <div class="day-cards">
    <app-day-card *ngFor="let dayCard of dayCards"
                  [day]="dayCard"
                  (removeDayEvent)="removeDay($event)"
    (editDayEvent)="loadDay($event)" ></app-day-card>

    <ng-container *ngFor="let i of [1, 2, 3]">
      <ng-template *appRectangleSkeleton="isLoading; height: 300; width: 200;"></ng-template>
    </ng-container>
  </div>
</section>
