<link rel="stylesheet" href="authentication-passed-mock.component.scss">
<div class="container">
  <div class="center-absolute border">
    <h2>Успешный вход</h2>
    <app-admin-function-mock *ngxPermissionsOnly="['admin']"></app-admin-function-mock>
    <app-operator-function-mock *ngxPermissionsOnly="['admin', 'operator']"></app-operator-function-mock>
    <app-user-function-mock *ngxPermissionsOnly="['admin', 'user']"></app-user-function-mock>
    <h4>Пользователи</h4>
    <div>
      <p *ngFor="let user of users">{{user | json}}</p>
    </div>
    <button class="btn btn-info" type="button" (click)="getRole('admin')">Почучить права администратора</button>
    <button class="btn btn-info" type="button" (click)="getRole('operator')">Получить права оператора</button>
    <button class="btn btn-info" type="button" (click)="getRole('user')">Получить права клиента</button>
    <button class="btn btn-warning" type="button" (click)="removeRoles()">Удалить все права</button>
    <button class="btn btn-primary" type="button" (click)="getUsers()">Загрузить пользователей</button>
    <br>
    <button class="btn btn-danger" type="button" (click)="exit()">Выход</button>
  </div>
</div>
