<div [formGroup]="parentFormGroup">
  <div class="form-group">
    <label>
      <input type="text" class="form-control" placeholder="Имя" formControlName="{{validationService.firstName.formControlName}}">
      <div class="text-danger">
        <small *ngIf="validationService.firstName.isDirty && validationService.firstName.isEmpty">Поле
          обязательно</small>
      </div>
    </label>
  </div>
  <div class="form-group" [formGroup]="parentFormGroup">
    <label>
      <input type="text" class="form-control" placeholder="Фамилия" formControlName="{{validationService.secondName.formControlName}}">
      <div class="text-danger">
        <small *ngIf="validationService.secondName.isDirty && validationService.secondName.isEmpty">Поле
          обязательно</small>
      </div>
    </label>
  </div>
</div>
