header {
  nav {
    div.navbar-left-block {
      font-size: 1.5em;
    }

    ul.navbar-right-block {
      flex-wrap: wrap;
      li {
        height: fit-content;
        margin-left: 2rem;

        a {
          text-decoration: none;

          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

main {
  section {
      &.child-w-100{
        width: 100%;
        + *{
          width: 100%;
        }
    }
  }
}
