.mode-header{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  .mode-link-block{
    margin-right: 1rem;
    a{
      text-decoration: none;
      &.active{
        font-weight: 600;
      }
    }
  }
}
