.btn:disabled{
  opacity: 0.5;
  color: red;
}
input {
  &.ng-invalid.ng-touched.ng-dirty {
    border: 1px solid lightcoral;
  }

  &.ng-valid.ng-touched {
    border: 1px solid lightgreen;
  }
}
.form-group{
  label{
    width: 100%;
  }
}
.logo-img{
  width: 5rem;
}
section{
  margin: 10rem auto 1rem auto;
  .container{
    h2{
      text-align: center;
      display: block;
      margin: 1rem auto;
    }
  }
}
.container-btn{
  text-align: center;
  button{
    width: 100%;
  }
}
.text-danger{
  height: 1.5rem;
  small{
    vertical-align: top;
  }
}


