<div class="accounts">
  <div class="sort-settings">
    <select [(ngModel)]="sortState" (change)="applySort()">
      <option *ngFor="let sortOption of sortOptions" [value]="sortOption"
      >{{sortOptionsName[sortOption]}}</option>
    </select>
    <div class="role-filter-block">
      <label *ngFor="let roleFilterOption of roleFilterOptions">
        <input type="checkbox"
               (change)="changeFilterMode(roleFilterOption)"
               [checked]="roleFilterModel[roleFilterOption]">
        <span>{{roleFilterModel[roleFilterOption].name}}</span>
      </label>
    </div>
  </div>
  <div class="account-items">

    <app-account-item *ngFor="let user of viewUsers" [user]="user"></app-account-item>
    <button class="btn btn-primary" type="button" (click)="loadUsers()">Загрузить пользователей</button>
  </div>
</div>
