<div class="border account-item" [class.locked]="isLockMode" [class.edited]="isEditMode">
  <div class="left-block">
    <button class="btn btn-default" (click)="changeExtendMode()">
      <span class="glyphicon" [class.down]="!isExtended" [class.up]="isExtended"></span>
    </button>
    <div class="all-info">
      <div class="info main-info">
        <input [disabled]="!isEditMode" [value]="user.secondName">
        <input [disabled]="!isEditMode" [value]="user.firstName">
        <input [disabled]="!isEditMode" [value]="user.role">
      </div>
      <div class="info additional-info" *ngIf="isExtended">
        <div><span class="description">Id</span><input [disabled]="!isEditMode" [value]="user.id"></div>
        <div><span class="description">Логин</span><input [disabled]="!isEditMode" [value]="user.login"></div>
        <div><span class="description">Пароль</span><input [disabled]="!isEditMode" [value]="user.password"></div>
        <div><span class="description">Информация</span><input [disabled]="!isEditMode" [value]="user.info ?? ''"></div>
        <div><span class="description">Разрешения</span><input [disabled]="!isEditMode" [value]="user.permissions ?? ''"></div>
      </div>
    </div>
  </div>
  <div class="control-buttons">
    <span class="me-1" *ngIf="isEditMode">{{isRemoveMode ? "Удалить пользователя?" : "Применить изменения?"}}</span>
    <button class="btn approve-btn" *ngIf="isEditMode" (click)="saveChanges()"></button>
    <button class="btn edit-btn" *ngIf="isFreeMode" (click)="changeEditMode()"></button>
    <button class="btn remove-btn" *ngIf="isFreeMode" (click)="removeUser()"></button>
    <button class="btn cancel-btn" *ngIf="isEditMode" (click)="undoChanges()"></button>
  </div>
</div>
